In [4]:
import pandas as pd
import psycopg2 as ppg2

In [5]:
def connect_to_postgres():
  con = ppg2.connect(
    database="piscineds",
    user="aabounak",
    password="mysecretpassword",
    host="localhost",
    port="5432"
  )
  return con

## Module 00

In [ ]:
connection = connect_to_postgres()
cursor_obj = connection.cursor()

In [ ]:
customers_csvs = [
  "data_2022_oct.csv",
  "data_2022_nov.csv",
  "data_2022_dec.csv",
  "data_2023_jan.csv",
  "data_2023_feb.csv",
]

for file in csvs:
  table_name = f"{file.split('.')[0]}"
  sql_query = f"""
    CREATE TABLE IF NOT EXISTS public."{table_name}" (
      event_time TIMESTAMP WITH TIME ZONE,
      event_type VARCHAR(50),
      product_id INTEGER,
      price NUMERIC(10, 2),
      user_id INTEGER,
      user_session VARCHAR(100)
    );
  """
  cursor_obj.execute(sql_query)
  connection.commit()

# cursor_obj.close()

In [ ]:
# cursor_obj = connection.cursor()

for file in csvs:
  table_name = f"{file.split('.')[0]}"
  file_path = f"./customers/{file}"

  with open(file_path, 'r') as f:
    next(f)
    cursor_obj.copy_from(
      f,
      table_name,
      sep=',',
      null='',
      columns=(
        'event_time',
        'event_type',
        'product_id',
        'price',
        'user_id',
        'user_session'))
    connection.commit()
    
# cursor_obj.close()

### Exercise 04

In [ ]:
# cursor_obj = connection.cursor()

file = "item.csv"
table_name = f"{file.split('.')[0]}"
file_path = f"./{file}"

sql_query = f"""
  CREATE TABLE IF NOT EXISTS public."{table_name}" (
    product_id BIGINT,
    category_id BIGINT,
    category_code TEXT,
    brand TEXT
  );
"""
cursor_obj.execute(sql_query)
connection.commit()

with open(file_path, 'r') as f:
  next(f)
  cursor_obj.copy_from(
    f,
    table_name,
    sep=',',
    null='',
    columns=(
      'product_id',
      'category_id',
      'category_code',
      'brand'
    )
  )
connection.commit()

# cursor_obj.close()

## Module 01

### Exercise 01

In [ ]:
# cursor_obj = connection.cursor()

sql_query = f"""
  CREATE TABLE customers AS
  SELECT * FROM data_2022_dec
  UNION ALL
  SELECT * FROM data_2022_nov
  UNION ALL
  SELECT * FROM data_2022_oct
  UNION ALL
  SELECT * from data_2023_jan
  UNION ALL
  SELECT * from data_2023_feb;
"""

cursor_obj.execute(sql_query)
connection.commit()

# cursor_obj.close()

### Exercise 02

In [8]:
sql_query = f"""
  DELETE FROM customers
  WHERE (event_time, event_type, product_id, price, user_id, user_session) IN (
    SELECT 
      event_time, 
      event_type, 
      product_id, 
      price,
      user_id,
      user_session
    FROM customers
    GROUP BY 
      event_time, 
      event_type, 
      product_id, 
      price,
      user_id,
      user_session
    HAVING COUNT(*) > 1
  );
"""

cursor_obj.execute(sql_query)
connection.commit()

NameError: name 'table_name' is not defined

### Exercise 03

In [ ]:
sql_query = """
  SELECT * FROM customers
  FULL JOIN items ON customers.product_id = items.product_id;
"""

cursor_obj.execute(sql_query)
connection.commit()

In [ ]:
cursor_obj.close()