In [ ]:
import psycopg2 as ppg2

In [ ]:
def connect_to_postgres():
  con = ppg2.connect(
    database="piscineds",
    user="aabounak",
    password="mysecretpassword",
    host="localhost",
    port="5433"
  )
  return con

In [ ]:
connection = connect_to_postgres()
cursor_obj = connection.cursor()

In [ ]:
customers_csvs = [
  "data_2022_oct.csv",
  "data_2022_nov.csv",
  "data_2022_dec.csv",
  "data_2023_jan.csv",
  "data_2023_feb.csv",
]

for file in customers_csvs:
  table_name = f"{file.split('.')[0]}"
  sql_query = f"""
    CREATE TABLE IF NOT EXISTS public."{table_name}" (
      event_time TIMESTAMP WITH TIME ZONE,
      event_type VARCHAR(50),
      product_id INTEGER,
      price NUMERIC(10, 2),
      user_id INTEGER,
      user_session VARCHAR(100)
    );
  """
  cursor_obj.execute(sql_query)
  connection.commit()

cursor_obj.close()