In [ ]:
import pandas as pd
import psycopg2 as ppg2

In [ ]:
def connect_to_postgres():
  con = ppg2.connect(
    database="piscineds",
    user="aabounak",
    password="mysecretpassword",
    host="localhost",
    port="5432"
  )
  return con

In [ ]:
connection = connect_to_postgres()
cursor_obj = connection.cursor()

In [ ]:
sql_query = f"""
  DELETE FROM customers
  WHERE (event_time, event_type, product_id, price, user_id, user_session) IN (
    SELECT 
      event_time, 
      event_type, 
      product_id, 
      price,
      user_id,
      user_session
    FROM customers
    GROUP BY 
      event_time, 
      event_type, 
      product_id, 
      price,
      user_id,
      user_session
    HAVING COUNT(*) > 1
  );
"""

cursor_obj.execute(sql_query)
connection.commit()

cursor_obj.close()